networks:
  {{ docker_network_name }}:
    external: true

services:

  front:
    image: {{ front_image }}
    container_name: {{ front_container }}
    restart: unless-stopped
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.front.rule=Host(`{{ domain_front }}`)"
      - "traefik.http.routers.front.entrypoints=websecure"
      - "traefik.http.routers.front.tls.certresolver=letsencrypt"
      - "traefik.http.services.front.loadbalancer.server.port=80"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - {{ docker_network_name }}